openapi: 3.0.4
info:
  title: Random User Generator
  description: >-
    Random User Generator is a simple tool for generating random user data. It
    returns the user's name, email, and more.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/randomusergenerator:
    get:
      summary: Generate User
      description: Generate random user data
      operationId: randomusergenerator
      parameters:
        - name: count
          in: query
          schema:
            type: integer
          required: false
          description: The number of users to generate
          example: 1
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  - id: 967e4d46-963e-4108-a0c5-ded8f630dcc8
                    name: Jennifer Hoppe V
                    gender: Male
                    username: Olen_Kihn88
                    email: Juwan5@gmail.com
                    password: f0VIWRnbXFvW9Tf
                    registered: '2025-06-29T22:00:36.084Z'
                    phone: 1-716-677-4155
                    cell: 1-353-721-7455 x2081
                    birthdate: '1972-01-24T19:55:15.208Z'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
